// footer 3
footer.footer-3(class=footerLight && 'footer-3_light')
	.footer-3-container.container
		.footer-3-row
			.footer-3-col.footer-3-col_wide
				a.footer-3-logo(href='/')
					if footerLight
						img.footer-3-pic(src='/static/img/kalli-black.svg' width='56' alt='Kalli')
					else
						img.footer-3-pic(src='/static/img/kalli-white.svg' width='56' alt='Kalli')
			.footer-3-col
				.footer-3-title Company
				nav.footer-3-nav.nav
					a.nav-link(href='#') About
					a.nav-link(href='#') Portfolio
					a.nav-link(href='#') Blog
					a.nav-link(href='#') Careers
					a.nav-link(href='#') Press
			.footer-3-col
				.footer-3-title Support
				nav.footer-3-nav.nav
					a.nav-link(href='#') Help Center
					a.nav-link(href='#') Privacy
					a.nav-link(href='#') Status
					a.nav-link(href='#') Security
					a.nav-link(href='#') Resources
			.footer-3-col
				.footer-3-title Follow
				nav.footer-3-nav.nav
					a.nav-link(href='#') Facebook
					a.nav-link(href='#') Twitter
					a.nav-link(href='#') Instagram
					a.nav-link(href='#') Linkedin
		.footer-3-content.content Copyright © 2019 Kalli