// footer 5
footer.footer-5(class=footerLight && "footer-5_light")
	.footer-5-section
		.footer-5-container.container
			.footer-5-row
				.footer-5-col
					.footer-5-title Follow Us
					nav.footer-5-nav.nav
						a.nav-link(href='#') Facebook
						a.nav-link(href='#') Twitter
						a.nav-link(href='#') Instagram
				.footer-5-col
					.footer-5-title Company
					nav.footer-5-nav.nav
						a.nav-link(href='#') About
						a.nav-link(href='#') Press
						a.nav-link(href='#') Careers
				.footer-5-col
					.footer-5-title Support
					nav.footer-5-nav.nav
						a.nav-link(href='#') Help Center
						a.nav-link(href='#') FAQ
						a.nav-link(href='#') Shipping
				.footer-5-col
					.footer-5-title Legal
					nav.footer-5-nav.nav
						a.nav-link(href='#') Privacy Policy
						a.nav-link(href='#') Returns Terms
						a.nav-link(href='#') Cookie Policy
				.footer-5-col
					.footer-5-title Info
					nav.footer-5-nav.nav
						a.nav-link(href='#') Blog
						a.nav-link(href='#') Stores
						a.nav-link(href='#') Contact Us
	.footer-5-section
		.footer-5-container.container
			.footer-5-row.footer-5-row_last
				.footer-5-col
					.footer-5-content.content Questions? <a href="mailto:kalli@mail.com">kalli@mail.com</a>
				.footer-5-col
					a.footer-5-logo(href='/')
						if footerLight
							img.footer-5-pic(src='/static/img/kalli-black.svg' width='56' alt='Kalli')
						else
							img.footer-5-pic(src='/static/img/kalli-white.svg' width='56' alt='Kalli')
				.footer-5-col
					.footer-5-content.content Copyright © 2019 Kalli