include ../mixins/all

doctype html
html(lang="en")
	head
		include _head

	body(class=bodyClass)
		// page
		.page(class=pageClass)
			block content
		// scripts
		block scripts
			//- script(src="{% static 'js/lib/jquery.min.js' %}")
			//- script(src="{% static 'js/lib/slick.min.js' %}")
			//- script(src="{% static 'js/lib/app.js' %}")
			script(src="/static/js/jquery.min.js")
			script(src="/static/js/slick.min.js")
			script(src="/static/js/app.js")
			script(src="/static/js/base.js")
